body {
  background-color: #000000;
 
}

#Reloj {
    background-color:crimson;
    font-size: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15%;
    width: 50%; 
    height: 50%; 
    margin-left: 25%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5%;
};

