body {
  font-family: sans-serif;
  background: #ffe8e8;
  text-align: center;
}

input, button {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

button {
  background: #ff8fab;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ffffffaa;
  margin: 5px auto;
  padding: 6px;
  width: 200px;
  border-radius: 5px;
  font-weight: bold;
}
