body{
    background-image: url("img/fondocasino.jpg");
}

h1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 40%;
    color: white;
    text-shadow: black;
}

#cartas
{
    margin-left: 25%;
    width: 40%;
    height: 70%;
    display: grid;
    grid-template-columns:repeat(6,1fr);

}
#cartas img:hover
{
    size: 100px;
    transition: 1s;
}

img{
    size: 80px;
    transition: 1s;
}

#Time{
    font-size: xx-large;
    color: white;
}

#lose{
    font-size: xx-large;
    color: white;
}


#win{
    font-size: xx-large;
    color: white;
}