body {
  background: #fff6d9; /* Fondo suave */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 80px;
}

h1 {
  color: #ff6b6b; /* rojo coral */
  font-size: 40px;
}

h2 {
  color: #5f6caf; /* azul suave */
  font-size: 18px;
  margin-bottom: 40px;
}

#clock {
  font-size: 50px;
  color: #333;
  margin-bottom: 40px;
}

/* Botones */
button {
  padding: 10px 25px;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

#Start { background-color: #4CAF50; } /* verde */
#Stop { background-color: #e74c3c; }  /* rojo */
#Reset { background-color: #3498db; } /* azul */

button:hover {
  opacity: 0.8;
}
