*{
    box-sizing: border-box;
}

body{
    background-image: url("img/4k-star-xqucvtp2ojwqmbbz.jpg");
}
#contenedor{
    border: 0cap;
    display: grid;
    grid-template-columns: 80vh 80vh 80vh;
}
div{
    border: 1px solid white;
    display: flex;
    color: white;
    flex-direction: column;
    height: 50%;
    width: 50%;
}
div h2{
    font-size: 30px;
}
button{
    padding: 8px 12px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#detalle{
    overflow-x:auto;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 20%;
    left: 25%;
    opacity: 100%;
    background-color: black;
    opacity: 100%;
    width: 50%;
    height: 50%;
    top: 25%;
}

#detalle img{
    width: 30%;
    height: 100%;
}

#detalle p{
    width: 100%;
}

#detalle button{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 20%;
    width: 40%;
    text-decoration: none;
}

#logo{
    width: 10%;
    height: 20%;
    padding: 0%;
    margin: 0%;
}

#landing{
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#buscador{
    border: 0;
    
}

header
{
    position: fixed;
}
